@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
  position: relative;
}

.exit,
.entry {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 30px;
  /* background-color: black; */
  color: white;
  text-align: center;
  line-height: 30px;
}

.exit {
  left: 0;
}

.entry {
  right: 0;
}

.seat {
  display: inline-block;
  margin: 3px;
  width: 25px;
  border: 1px solid;
  height: 25px;
  border-radius: 2px;
  color: #1ea83c;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  background: #1a1a1a;
  vertical-align: top;
}

.seatsold {
  display: inline-block;
  margin: 3px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  vertical-align: top;
  background-color: #1a1a1a;
  border: 1px solid #4d4a43;
  color: #4d4a43;
}

.seattext {
  display: inline-block;
  margin: 3px;
  width: 25px;
  border: 1px solid;
  height: 25px;
  border-radius: 2px;
  color: #1ea83c;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  background: #1a1a1a;
  vertical-align: top;
}

.seat.available {
  color: #1ea83c;
}

.seat.selected {
  background-color: #1ea83c;
  border: 1px solid #1ea83c;
  color: #fff;
}

.seattext.selectedtext {
  background-color: #1ea83c;
  border: 1px solid #1ea83c;
  color: #fff;
}

.seat.sold {
  background-color: #1a1a1a;
  border: 1px solid #4d4a43;
  color: #4d4a43;
}

.seattext.soldtext {
  background-color: #1a1a1a;
  border: 1px solid #4d4a43;
  color: #4d4a43;
}

.seat:nth-of-type(4) {
  margin-right: 34px;
}

.seat:nth-last-of-type(4) {
  margin-left: 34px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 100px;
  width: 80%;
  margin: 15px 10%;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.button {
  width: 30%;
  margin: 35% 35%;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.letter {
  display: inline-block;
  margin: 3px;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  background: #1a1a1a;
  vertical-align: top;
  margin-right: 30px;
}

.letterRight {
  display: inline-block;
  margin: 3px;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  background: #1a1a1a;
  vertical-align: top;
  margin-left: 30px;
}

.text-center {
  text-align: center;
}